footer.page-footer
  .s-footer

    .s-footer__badges

      p
        a(href="https://github.com/ghostinthewires/Azure-Readiness-Checklist/")
          img(src="https://img.shields.io/badge/Azure%20Readiness%20Checklist-Followed-brightgreen" alt="Azure Readiness Checklist followed" data-canonical-src="https://img.shields.io/badge/Azure%20Readiness%20Checklist-Followed-brightgreen")

    .s-footer__grateful

      

      p Icons made by #[a(href='http://www.freepik.com' target='_blank', rel="nofollow noopener noreferrer") Freepik] from #[a(href='https://www.flaticon.com/', title='Flaticon' rel="nofollow noopener noreferrer") www.flaticon.com] is licensed by #[a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0', target='_blank', rel="noopener noreferrer") CC 3.0 BY]
      p Inspired by the #[a(href='https://gruntwork.io/devops-checklist/' target='_blank', rel="nofollow noopener noreferrer") Gruntwork Production Readiness Checklist] which covers AWS.

    .s-footer__made
      p Made with ❤️ by #[a(href="https://www.ghostinthewires.co.uk/") ghostinthewires] #[a.twitter-follow-button(href="https://twitter.com/GhostInTheWire5" data-show-count="false" data-show-screen-name="false") Follow @GhostInTheWire5] for the Open-Source Community.
