meta(property="og:site_name" content="Azure Readiness Checklist")
meta(property="og:url" content=translation.URL_WEBSITE)
meta(property="og:type" content="website")
meta(property="og:title" content=translation.INDEX_TITLE)
meta(property="og:description" content=translation.SITE_DESCRIPTION)
meta(property="og:locale" content="en_US")
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@ghostinthewire5")
meta(name="twitter:creator" content="@ghostinthewire5")
